/* Content Boxes
------------------------------------------------------------ */

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}
 
body .content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}
 
body .content-box-gray {
    background-color: #e2e2e2;
    border: 1px solid #bdbdbd;
}
 
body .content-box-green {
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
}
 
body .content-box-purple {
    background-color: #e2e2f9;
    border: 1px solid #bebde9;
}
 
body .content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
}
 
body .content-box-yellow {
    background-color: #fef5c4;
    border: 1px solid #fadf98;
}








/* Color Buttons
------------------------------------------------------------ */
 
.button-blue,
.button-gray,
.button-green,
.button-purple,
.button-red,
.button-yellow {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
 
.button-blue:hover,
.button-gray:hover,
.button-green:hover,
.button-purple:hover,
.button-red:hover,
.button-yellow:hover {
    text-decoration: none;
}
 
body .button-blue {
    background-color: #afcde3;
    /*border: 1px solid #afcde3;*/
}
 
body .button-blue:hover {
    background-color: #83a2be;
    /*border: 1px solid #83a2be;*/
}
 
body .button-gray {
    background-color: #bdbdbd;
    /*border: 1px solid #bdbdbd;*/
}
 
body .button-gray:hover {
    background-color: #919191;
    /*border: 1px solid #919191;*/
}
 
body .button-green {
    background-color: #b2ce96;
    /*border: 1px solid #b2ce96;*/
}
 
body .button-green:hover {
    background-color: #86a36e;
    /*border: 1px solid #86a36e;*/
}
 
body .button-purple {
    background-color: #bebde9;
    /*border: 1px solid #bebde9;*/
}
 
body .button-purple:hover {
    background-color: #9291c7;
    /*border: 1px solid #9291c7;*/
}
 
body .button-red {
    background-color: #e9b3b3;
    /*border: 1px solid #e9b3b3;*/
}
 
body .button-red:hover {
    background-color: #c78787;
    /*border: 1px solid #c78787;*/
}
 
body .button-yellow {
    background-color: #fadf98;
    /*border: 1px solid #fadf98;*/
}
 
body .button-yellow:hover {
    background-color: #ecb870;
    /*border: 1px solid #ecb870;*/
}