/* Content Boxes
------------------------------------------------------------ */

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}
 
.content-box-blue {
    background-color: #d8ecf7 !important;
    border: 1px solid #afcde3;
}
 
.content-box-gray {
    background-color: #e2e2e2 !important;
    border: 1px solid #bdbdbd;
}
 
.content-box-green {
    background-color: #d9edc2 !important;
    border: 1px solid #b2ce96;
}
 
.content-box-purple {
    background-color: #e2e2f9 !important;
    border: 1px solid #bebde9;
}
 
.content-box-red {
    background-color: #f9dbdb !important;
    border: 1px solid #e9b3b3;
}
 
.content-box-yellow {
    background-color: #fef5c4 !important;
    border: 1px solid #fadf98;
}








/* Color Buttons
------------------------------------------------------------ */
 
.button-blue,
.button-gray,
.button-green,
.button-purple,
.button-red,
.button-yellow {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
 
.button-blue:hover,
.button-gray:hover,
.button-green:hover,
.button-purple:hover,
.button-red:hover,
.button-yellow:hover {
    text-decoration: none;
}
 
.button-blue {
    background-color: #afcde3 !important;
    /*border: 1px solid #afcde3;*/
}
 
.button-blue:hover {
    background-color: #83a2be !important;
    /*border: 1px solid #83a2be;*/
}
 
.button-gray {
    background-color: #bdbdbd !important;
    /*border: 1px solid #bdbdbd;*/
}
 
.button-gray:hover {
    background-color: #919191 !important;
    /*border: 1px solid #919191;*/
}
 
.button-green {
    background-color: #b2ce96 !important;
    /*border: 1px solid #b2ce96;*/
}
 
.button-green:hover {
    background-color: #86a36e !important;
    /*border: 1px solid #86a36e;*/
}
 
.button-purple {
    background-color: #bebde9 !important;
    /*border: 1px solid #bebde9;*/
}
 
.button-purple:hover {
    background-color: #9291c7 !important;
    /*border: 1px solid #9291c7;*/
}
 
.button-red {
    background-color: #e9b3b3 !important;
    /*border: 1px solid #e9b3b3;*/
}
 
.button-red:hover {
    background-color: #c78787 !important;
    /*border: 1px solid #c78787;*/
}
 
.button-yellow {
    background-color: #fadf98 !important;
    /*border: 1px solid #fadf98;*/
}
 
.button-yellow:hover {
    background-color: #ecb870 !important;
    /*border: 1px solid #ecb870;*/
}